.App {
  background-image: url(https://external-preview.redd.it/NJeQ3CAXvKeIAvAq2WWNbeTA5JN1HuyaffiApqwe7B4.jpg?width=640&crop=smart&auto=webp&s=3b06eb8a3b98c6b2bf0243614275be51f54bfd43);
  text-align: center;
  color: rgb(255, 203, 5);
  text-shadow: 1px 1px 10px  rgb(75, 19, 216);
  font-size: 25px;
  background-color: #282c34;

}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text{
  text-align: center;
  color: rgb(75, 19, 216);
  text-shadow: 1px 1px 10px  rgb(255, 255, 255);
  font-size: 25px;
  font-size: 30px;


}
