body {
  background-image: url(https://external-preview.redd.it/NJeQ3CAXvKeIAvAq2WWNbeTA5JN1HuyaffiApqwe7B4.jpg?width=640&crop=smart&auto=webp&s=3b06eb8a3b98c6b2bf0243614275be51f54bfd43);
  background-color: rgb(255, 255, 255);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
