
.containerPime{
    position: relative;
    
}
.container{
    background-image: url(https://cdn.custom-cursor.com/collections/129/cover-pokemon-preview.png);
    display: grid;
    border-color:goldenrod;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    height: 330px;
    width: 450px;
    position: absolute;
    left: 31%;
    top: 100px;
    
 
}

.title{
    color: rgb(62, 24, 216);
    height: 100px;
    width: 300px;
    flex-direction:row ;
    justify-content:center ;
    position : absolute;
    top: 10%;
    left: 15%;
    animation-name :title-dancer;
    animation-duration: 2s;
    animation-delay: 0.1s;
    animation-timing-function:ease;
    animation-iteration-count: infinite;
}

.button{
    border: 1px solid #2e518b; 
    background-image: url(https://pbs.twimg.com/profile_images/763501748019396608/jKi-IeUx_400x400.jpg);
    background-size: cover;
    color: rgb(116, 32, 218); 
    text-transform: uppercase; 
    font-family: 'Helvetica', sans-serif; 
    border-radius: 50px; 
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 80%;
    left:43%;
    right: 40%;
    height: 60px;
    width: 60px;
    

    

} 
.botton:hover{
    background-color: red;
    width: 32px;
    
}

.enter{
    height: 30px;
    width: 50px;
    position: relative;
    top: 5%;
    left: 0%;
    animation-name :enter-dancer;
    animation-duration: 2s;
    animation-delay: 0.1s;
    animation-timing-function:ease;
    animation-iteration-count: 4s;
}
@keyframes title-dancer{
0%{position : absolute;
    top: 10%;
    left: 15%;
    height: 100px;
    width: 300px;}
25%{position : absolute;
    top: 15%;
    left: 15%;
    height: 105px;
    width: 330px;}
50%{position : absolute;
    top: 10%;
    left: 15%;
    height: 100px;
    width: 300px;}
75%{position : absolute;
    top: 15%;
    left: 15%;
    height: 105px;
    width: 330px;}
100%{position : absolute;
    top: 10%;
    left: 15%;
    height: 100px;
    width: 300px;}
   
}

@keyframes enter-dancer{
    0%{ height: 0;
        width: 0;}
}