.nav{
    
    display: inline-block;
    border-radius: 10px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    color: blue;
    background-color: rgb(60, 90, 166) ;
    height: 20px;
    width: 70%;
    position: absolute;
    top: 20%;
    left: 15%;
  
}
.ul{
border-color : rgb(241, 28, 28)
}
.div{
    position: relative;
    bottom: 41px;
    display:inline-block;
    align-items:flex-end;
    
    margin: 4px;
   
}
.li{
    display:inline;
    align-items:flex-end;

    
}
.li:hover {
	box-shadow: 0 8px 36px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.buttons{
  
    position: relative;
  
height: 20px;
background-color: rgb(255, 203, 5);
border-radius: 10px;
border-color: rgb(255, 203, 5);


}