.nav{
    display: block;
    flex-direction: column column;
    border-color: rgb(241, 28, 28);
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-bottom-right-radius: 30px;
    color: blue;
    background-color: aquamarine ;

}
.ul{
border-color : rgb(241, 28, 28)
}
.div{
  background-color: rgb(255, 255, 0);
   
    display:inline;
    align-items:flex-end;
    flex-direction: column column;
    margin: 4px;
   
}
.li{
    display:inline;
    align-items:flex-end;

    
}
.li:hover {
	box-shadow: 0 8px 36px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}